{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blended_layout.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Page Title</title>
    <meta name="description" content="width=device-width, initial-scale=1.0">
</head>
<body>
<article class="container">
    <blockquote>
        <strong>Informate</strong> de <em>las votaciones</em> en <strong>Colombia!</strong>
    </blockquote>
    <b>Por: Mateo Murillo Eafit</b>

</article>
<div class="candidates">
    <div class="candidate">
        <img src="{% static "images/{{ candidato.img_file }}.jpg" %}"/>
        {{ candidato.get_name }}
        <div class="stats">
            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Tweets propios</em>
                </div>
                <div class="statsCell">
                    <strong>{{ candidato.veces_mencionado }}</strong><br>
                    <em>Veces mencionado</em>
                </div>
            </div>

            <div class="statsRow">
                <div class="statsCell">
                    <strong>{{ candidato.personas_hablando }}</strong><br>
                    <em>Personas hablando</em>
                </div>
                <div class="statsCell">
                    <strong>{{ candidato.ratio }}</strong><br>
                    <em>ratio</em>
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    Mencionado <strong>{{ candidato.promedio }}</strong> veces por minuto
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    <strong>{{ candidato.ultimas_menciones }}</strong> veces mencionado en los ultimos 3 minutos
                </div>
            </div>
            <div class="statsSentimentRow">
                <div class="statsSentimentCell">
                    <strong>Analisis de Sentimientos</strong>
                    <div style="margin: 2%">
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-blue w3-round-xlarge" style="width:{{ candidato.positivos_porcentaje }}%">{{ candidato.positivos }}</div>
                    </div>
                        <div style="margin: 2%"></div>
                        <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-red w3-round-xlarge" style="width:{{ candidato.negativos_porcentaje }}%">{{ candidato.negativos }}</div>
                    </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <div class="candidate">
        <img src="{% static "images/petro.jpg" %}"/>
        Petro
        <div class="stats">
            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Tweets propios</em>
                </div>
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Veces mencionado</em>
                </div>
            </div>

            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Personas hablando</em>
                </div>
                <div class="statsCell">
                    <strong>1:1</strong><br>
                    <em>ratio</em>
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    Mencionado <strong>1</strong> veces por minuto
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    <strong>200</strong> veces mencionado en los ultimos 3 minutos
                </div>
            </div>
            <div class="statsSentimentRow">
                <div class="statsSentimentCell">
                    <strong>Analisis de Sentimientos</strong>
                    <div style="margin: 2%">
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        <div style="margin: 2%"></div>
                        <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-red w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <div class="candidate">
        <img src="{% static "images/calle.jpg" %}"/>
        De la Calle
        <div class="stats">
            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Tweets propios</em>
                </div>
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Veces mencionado</em>
                </div>
            </div>

            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Personas hablando</em>
                </div>
                <div class="statsCell">
                    <strong>1:1</strong><br>
                    <em>ratio</em>
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    Mencionado <strong>1</strong> veces por minuto
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    <strong>200</strong> veces mencionado en los ultimos 3 minutos
                </div>
            </div>
            <div class="statsSentimentRow">
                <div class="statsSentimentCell">
                    <strong>Analisis de Sentimientos</strong>
                    <div style="margin: 2%">
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        <div style="margin: 2%"></div>
                        <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-red w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <div class="candidate">
        <img src="{% static "images/duque.jpg" %}"/>
        Duque
        <div class="stats">
            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Tweets propios</em>
                </div>
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Veces mencionado</em>
                </div>
            </div>

            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Personas hablando</em>
                </div>
                <div class="statsCell">
                    <strong>1:1</strong><br>
                    <em>ratio</em>
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    Mencionado <strong>1</strong> veces por minuto
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    <strong>200</strong> veces mencionado en los ultimos 3 minutos
                </div>
            </div>
            <div class="statsSentimentRow">
                <div class="statsSentimentCell">
                    <strong>Analisis de Sentimientos</strong>
                    <div style="margin: 2%">
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        <div style="margin: 2%"></div>
                        <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-red w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <div class="candidate">
        <img src="{% static "images/fajardo.jpg" %}"/>
        Fajardo
        <div class="stats">
            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Tweets propios</em>
                </div>
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Veces mencionado</em>
                </div>
            </div>

            <div class="statsRow">
                <div class="statsCell">
                    <strong>100</strong><br>
                    <em>Personas hablando</em>
                </div>
                <div class="statsCell">
                    <strong>1:1</strong><br>
                    <em>ratio</em>
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    Mencionado <strong>1</strong> veces por minuto
                </div>
            </div>
            <div class="statsRow">
                <div class="statsSingleCell">
                    <strong>200</strong> veces mencionado en los ultimos 3 minutos
                </div>
            </div>
            <div class="statsSentimentRow">
                <div class="statsSentimentCell">
                    <strong>Analisis de Sentimientos</strong>
                    <div style="margin: 2%">
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        <div style="margin: 2%"></div>
                        <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-container w3-red w3-round-xlarge" style="width:25%">25%</div>
                    </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
